DirectoryIndex index.php
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
	Header set Strict-Transport-Security: max-age=10886400;
	Header set X-Content-Type-Options: nosniff;
</IfModule>
<IfModule mod_rewrite.c>
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php
RewriteEngine On 
# Disable directory indexes
Options -Indexes
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

