DirectoryIndex index.php

<IfModule mod_rewrite.c>
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin"
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php
RewriteEngine on
# Disable directory indexes
Options -Indexes
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1
</IfModule>